{% extends 'base.html.twig' %}

{% block title %}QOptions index{% endblock %}

{% block body %}
    <h1>QOptions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Decription</th>
                <th>Is_answer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for q_option in q_options %}
            <tr>
                <td>{{ q_option.id }}</td>
                <td>{{ q_option.decription }}</td>
                <td>{{ q_option.isAnswer ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('q_options_show', {'id': q_option.id}) }}">show</a>
                    <a href="{{ path('q_options_edit', {'id': q_option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('q_options_new') }}">Create new</a>
{% endblock %}
