{% extends 'base.html.twig' %}

{% block title %}Qcm index{% endblock %}

{% block body %}
    <h1>Qcm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qcm in qcms %}
            <tr>
                <td>{{ qcm.id }}</td>
                <td>{{ qcm.title }}</td>
                <td>{{ qcm.description }}</td>
                <td>
                    <a href="{{ path('qcm_show', {'id': qcm.id}) }}" class="btn btn-info w-100 my-1">show</a>
                    <a href="{{ path('qcm_edit', {'id': qcm.id}) }}" class="btn btn-danger w-100">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('qcm_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
