{% extends 'base.html.twig' %}

{% block title %}Qcm{% endblock %}

{% block body %}
    <h1>Qcm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qcm.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ qcm.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ qcm.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('qcm_index') }}">back to list</a>

    <a href="{{ path('qcm_edit', {'id': qcm.id}) }}">edit</a>

    {{ include('qcm/_delete_form.html.twig') }}
{% endblock %}
